.newquestion {
  margin: 2rem 3rem;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: xx-large;
  margin-top: 10px;
  resize: none;
  padding: 10px 12px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.subbutton {
  margin: 20px auto;
  padding: 16px 32px;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}

.subbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
}

form {
  display: flex;
  flex-direction: column;
}
