@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
:root {
  --main-color: rgb(32, 82, 147);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body,
html {
  background-color: rgba(128, 128, 128, 0.679);
}

main {
  padding-bottom: 12vh;
}

header {
  height: 12vh;
}
