footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid black;
  height: 10vh;
  min-height: 10vh;
  justify-content: space-evenly;
  background-color: rgb(32, 82, 147);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  min-width: 15%;
}
