footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid black;
  height: 8vh;
  justify-content: space-around;
  background-color: cornflowerblue;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* border: 1px solid black; */
}
