footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* border-top: 2px solid black; */
  height: 10vh;
  max-height: 10vh;
  min-width: 10vh;
  justify-content: space-evenly;
}

.icons {
  background-color: rgb(32, 82, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 15%;
  border: none;
}
