nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 12vh;
  border-bottom: 2px solid black;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
